@import "Color.css";

.home {
  color: var(--colorFontMain);
  background: var(--colorBackground);
  div {
    background: var(--colorBackgroundSecondary);
    color: var(--colorFontSecondary);
  }
}
